# データを平らに均す

## リスト 3.1

In [4]:
import pandas as pd

data = {
    'A クラス': [82, 89, 93, 85, 76],
    'B クラス': [100, 62, 82, 70, 86],
}

df = pd.DataFrame(data)
df

   A クラス  B クラス
0     82    100
1     89     62
2     93     82
3     85     70
4     76     86

## リスト 3.2

In [ ]:
print('A クラス =', df['A クラス'].mean())
print('B クラス =', df['B クラス'].mean())

## リスト 3.3

In [ ]:
print(df.mean())

## リスト 3.4

In [ ]:
print(df.iloc[0]['A クラス'])
print(df['A クラス'].mean())